@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-card: #111111;
  --color-accent: #A855F7;
  --color-accent-hover: #9333EA;
}

@layer base {
  body {
    @apply bg-background text-gray-100 antialiased;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-card/80 backdrop-blur-md border border-white/5 shadow-xl;
  }
}
